<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

	<description>import the applicationContext files of erian</description>

	<!-- required -->
<!-- 	<import resource="security/spring-shiro-web.xml" />
 -->	
 <import resource="email/applicationContext-email.xml" />
 <import resource="applicationContext-shiro.xml" />



	<!-- optional -->

	<!-- <import resource="schedule/applicationContext-quartz-common.xml" /> -->
<!-- 	<import resource="schedule/applicationContext-quartz-dynamic.xml" />
 -->
 
<!--  	<import resource="schedule/applicationContext-quartz-common.xml" />
 --><!-- 	<import resource="schedule/applicationContext-quartz-dynamic.xml" />
 --></beans>