<div class="page-header">
    <h1>{{action}} Device</h1>
</div>

<form role="form" ng-submit="save()" name="deviceForm" novalidate>

    <div class="form-group row" ng-class="{'has-error':deviceForm.name.$invalid && !deviceForm.name.$pristine}">
        <label class="col-sm-2 col-form-label" for="name"><msg key="name"></msg></label>
	 	<div class="col-sm-5">
	        <input name="name" class="form-control" type="text"
	               placeholder="Device Name" ng-model="newDevice.name" ng-required="true"></input>
        </div>
        <label class="col-sm-1 col-form-label" for="name">Type</label>
	 	<div class="col-sm-4">	 	
<!--    <input  class="form-control" type="text"
	               placeholder="Device Type" ng-model="newDevice.typeID" ng-required="true"> -->
 <!-- <select class="custom-select"
    ng-model="newDevice.typeID" 
    ng-options="option.name for option in options track by id">
    
    <option value="0">Please select device type</option>
</select> -->
	<select ng-model="newDevice.typeID" 
	        ng-options="item.typeID as item.typeName for item in deviceTypes"  >
	    <option value="">Select device type</option>
	</select>
 
        </div>
    </div>
   
	<div class="form-group row">
      <label for="description" class="col-sm-2 col-form-label">Description</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="description" ng-model="newDevice.description" ng-required="true" placeholder="Device description">
      </div>
    </div>
    <div class="form-group row">
      <label for="vendor" class="col-sm-2 col-form-label">Vendor</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="vendor" placeholder="Vendor" ng-model="newDevice.vendor" ng-required="true">
      </div>
       <label class="col-sm-1">Programmable</label>
      <div class="col-sm-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  ng-model="newDevice.isProgrammable" ng-true-value=1  ng-false-value=0> Check if Programmable
        </div>
      </div>
    </div>
     <div class="form-group row">
      <label for="Model" class="col-sm-2 col-form-label">Model</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" id="Model" ng-model="newDevice.model" placeholder="Model">
      </div>
      
      <label class="col-sm-1">Connected</label>
      <div class="col-sm-4">
        <div class="form-check">
            <input class="form-check-input" type="checkbox"  ng-model="newDevice.isConnected" ng-true-value=1  ng-false-value=0> Check if Connected
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Location" class="col-sm-2 col-form-label">Location</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="Location" ng-model="newDevice.location" ng-required="true" placeholder="please input Location">
      </div>
    </div>
      
      <div class="form-group row">
      <label for="ip" class="col-sm-2 col-form-label">IP</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" ng-model="newDevice.IPAdress" id="ip" placeholder="please input IP address">
      </div>
      <label for="ip" class="col-sm-1 col-form-label">Port</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="ip"  ng-model="newDevice.portNumber" placeholder="please input Port number">
      </div>
    </div>
    <div class="form-group row">
      <label for="Bus" class="col-sm-2 col-form-label" >BUS</label>
      <div class="col-sm-10" >
        <!--   <label class="form-check-inline">
            <input class="form-check-input" type="radio"  id="gridRadios1" ng-model="newDevice.busID" checked value="1" >
            DC
          </label>&nbsp;&nbsp;
          <label class="form-check-inline">
            <input class="form-check-input" type="radio" id="gridRadios2" ng-model="newDevice.busID" value="2">
            AC
          </label>&nbsp;&nbsp;
          <label class="form-check-inline">
            <input class="form-check-input" type="radio"  id="gridRadios3" ng-model="newDevice.busID" value="3">
            ALL
          </label> -->
          
          	<select ng-model="newDevice.busID" 
	        ng-options="item.busID as item.busName for item in buses"  >
			    <option value="">Select Device Bus</option>
			</select>
        </div>   
    </div>
    
   <div class="form-group row">
      <label for="command" class="col-sm-2 col-form-label">ReadCommand: </label>
      <div class="col-sm-10">
        <input type="text" ng-model="newDevice.readCommand" class="form-control" placeholder="please input the command string"></textarea>
      </div>
    </div>
<!-- 
 
 ng-minlength="15"
 -->  

 
    
    <div class="form-group row">
      <label for="comments" class="col-sm-2 col-form-label">Comments: </label>
      <div class="col-sm-10">
        <textarea   ng-model="newDevice.comments" class="form-control" id="description" rows="4" placeholder="please input comments at leasr 15...."></textarea>
      </div>
    </div>
    
<input type="hidden" name="ID" ng-model="newDevice.ID" ng-init="newDevice.ID = ID"/>
<input type="hidden" name="typeID" ng-model="newDevice.typeID"  ng-init="newDevice.typeID = 4"/>
<input type="hidden" name="microgridID" ng-model="newDevice.microgridID" ng-init="newDevice.microgridID = 1" />
<input type="hidden" name="classID" ng-model="newDevice.classID" ng-init="newDevice.classID = 1" />
     
     
     <div class="form-group">
        <button type="submit" ng-disabled="deviceForm.$invalid" class="btn btn-lg btn-primary">
            <msg key="save"></msg>
        </button>
        <button type="button" ng-click="cancel()" class="btn btn-lg btn-default" data-dismiss="modal">
            <msg key="cancel"></msg>
        </button>
    </div>
</form>
